@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  font-family: 'Convergence', sans-serif;
}

.randomtxt{
  width: 100%;
  font-size: 10rem;
}