@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Convergence', sans-serif;
}

.txt{
  width: 100%;
  font-size: 5rem;
  color: red;
  text-align: center;
}